<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.anhanguera.atps.diariasmarau"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.anhanguera.atps.diariasmarau.activities.SplashScreenActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.anhanguera.atps.diariasmarau.activities.ListaHospedagensActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="br.com.anhanguera.atps.diariasmarau.activities.FormularioHospedagemActivity"
            android:label="@string/title_activity_formulario" >
        </activity>
        <activity
            android:name="br.com.anhanguera.atps.diariasmarau.activities.FechamentoActivity"
            android:label="@string/title_activity_fechamento" >
        </activity>
        <activity
            android:name="br.com.anhanguera.atps.diariasmarau.activities.ListaQuartoActivity"
            android:label="@string/title_activity_lista_quarto" >
        </activity>
        <activity
            android:name="br.com.anhanguera.atps.diariasmarau.activities.FormularioQuartoActivity"
            android:label="@string/title_activity_formulario_quarto" >
        </activity>
        <activity
            android:name="br.com.anhanguera.atps.diariasmarau.activities.ListaHospedeActivity"
            android:label="@string/title_activity_lista_hospede" >
        </activity>
        <activity
            android:name="br.com.anhanguera.atps.diariasmarau.activities.FormularioHospedeActivity"
            android:label="@string/title_activity_formulario_hospede" >
        </activity>
    </application>

</manifest>
